.react-bootstrap-table th {
    background-color:#09f;
    text-align:center;
    vertical-align: middle !important;
  }
  ​
  .react-bootstrap-table tbody tr:hover{
    background-color: rgb(142, 93, 34);
    transform: scale(1.01);
  }
  ​
  .react-bootstrap-table tbody tr{
      height: 30px;
      border: 5px;
      background-color: rgb(189, 147, 95);
  }
  ​
  .react-bootstrap-table tbody tr:active{
    background-color: rgb(160, 119, 70);
    transform: scale(1.005);
  }
  ​
  #table-custom {
    padding-top: 10px;
    width: 100%;
  }
  ​
  .filter-label span {
    display: none !important;
  }

  .react-bootstrap-table th label.filter-label span.sr-only {
    display: none !important;
  }

  td{
    text-align: center !important;
    vertical-align: middle !important;
  }

  .react-bootstrap-table th label.filter-label {
    margin-left: 20px !important;
  }

  .ls-form__submit{
    justify-content: center !important;
    margin-top: 0px !important;
  }

  .ls-textarea{
    display: none !important;
  }
 